@use '../variables'

.navbar
    display: flex
    justify-content: space-around
    align-items: flex-end
    padding: 1.5rem 0.5rem

    @media screen and ( min-width: 1360px )
        align-items: center
        padding: 2rem 0
        margin: 0 8rem
        border-bottom: 1px solid variables.$border-color

    .button
        &_menu
            @media screen and ( min-width: 1360px )
                display: none

    .logo
        margin-right: 5rem

        @media screen and ( min-width: 1360px )
            margin-right: 2rem

    .topics
        display: none

        @media screen and ( min-width: 1360px )
            display: flex
            gap: 2rem
            margin-right: 27vw

            a
                color: variables.$font-secondary-color
                padding: 2.6rem 0
                border-bottom: 4px solid rgba(0, 0, 0, 0)

                &:hover
                    border-bottom: 4px solid variables.$effects-color

    .cart
        @media screen and ( min-width: 1360px )
            cursor: pointer

    .user
        width: 25px

        @media screen and ( min-width: 1360px )
            margin-left: 2rem
            width: 45px
            cursor: pointer
            border-radius: 50%
            padding: 0.1rem

            &:hover
                background: variables.$effects-color

.fade
    position: fixed
    top: 0
    width: 100%
    height: 100vh
    background: variables.$fade-color
    z-index: 5
