@use 'variables'

*
    box-sizing: border-box

body
    font-family: variables.$font-stack
    background: variables.$body-bg-color

    header

    main
        @media screen and ( min-width: 1360px )
            padding: 3rem 8rem
